
.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  max-width: 100%;
  color: #000;
  font: normal 400 18px/1.20 Raleway, sans-serif;
  justify-content: space-between;
  align-content: center;
  padding: 95px 50px 88px 50px;
}

.header__menu {
  display: flex;
  align-content: center;
  padding-bottom: 7px;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
  align-items: center;
  text-underline-position: under;
  max-width: 388px;
}

.header__menu-item:first-child {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
  pointer-events: none;
}

.header__logo-image {
  height: 105px;
  object-fit: contain;
  object-position: left top;
  align-content: center;

}

.address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font: normal 400 18px/1.35 Raleway, sans-serif;
  text-underline-position: under;
  max-width: 240px;
  justify-self: end;
  padding-top: 2px;
  padding-bottom: 7px;
}

.address__item {
  text-decoration: none;
}

.cover {
  position: relative;
  flex-shrink: 0;
  background: white url(../images/cover.jpg) no-repeat center;
  background-size: 100% auto;
  max-width: 100%;
  max-height: 100%;
  padding: 165px 50px 50px 50px;
  color: #FFF;
  margin-bottom: 180px;
  z-index: 0;
}

.overlay {
  position: absolute;
  opacity: 0.6; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
}

.cover__title { 
  display: flex;
  flex-direction: column;
  font: normal 700 100px/1.37 Raleway, sans-serif;
  line-height: 115%; 
  text-transform: uppercase;
  gap: 20px;
  padding-bottom: 135px;
  letter-spacing: 30px;
}

.aligned-text {
  text-align: start;
  z-index: 2;
}

.letter-spacing-extended {
  letter-spacing: 60px;
  z-index: 2;
}

.aligned-text_center {
  text-align: center;
  line-height: 100%;
}

.aligned-text_right {
  text-align: end;
  line-height: 100%;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  display: flex;
  justify-content: end;
  font: normal 400 22px/1.25 Raleway, sans-serif;
  text-transform: uppercase;
  gap: 78px;
}

.cover__description-text {
  display: flex;
  align-items: center;
  word-spacing: 18px;
  z-index: 2;
}

.bet-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #FFF;
  font: normal 400 22px/1.27 Raleway, sans-serif;
  text-transform: uppercase;
  border: 1px solid #FFF;;
  padding: 12px 32px;
  z-index: 2;
}

.lots {
  width: 100%;
  margin-bottom: 180px;
}
 
.lots__heading {
  color: #000;
  font: normal 700 40px/1.2 Raleway, sans-serif;
  text-transform: uppercase;
  padding-left: 90px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 27px 50px 28px 50px;
  gap: 25px;
}

.lots__card-list-item {
  display: flex;
  flex-grow: 1;
  position: relative;
  justify-content: center;
  width: 430px;
  min-height: 450px;
  flex-wrap: wrap;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  padding: 50px 40px;
  justify-content: space-between;
}

.card-link {
  display: flex;
  text-decoration-line: none;
}

.card_type_film { 
  background: #000 url(../images/card-lot-01.jpg) no-repeat center;
  background-size: cover;
}

.card_type_book {
  background: #000 url(../images/card-lot-02.jpg) no-repeat center;
  background-size: cover;
}

.card_type_picture {
  background: #000 url(../images/card-lot-03.jpg) no-repeat center;
  background-size: cover;
}

.card__title,
.card__text {
  z-index: 2;
}

.card__title{
  color: #FFF;
  font: normal 700 22px/1.2 Raleway, sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  color: #FFF;
  font: normal 400 20px/1.2 Raleway, sans-serif;
  align-items: end;
}

.lots__look-more-link {
  color: #000;
  font: normal 400 20px/1.37 Raleway, sans-serif;
  padding-left: 90px;
  margin-top: 30px;
  text-underline-position: under;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  grid-template-rows: auto auto;
  gap: 0px 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.about__logo {
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  margin-left: 95px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000; 
  justify-content: center;
  align-items: center;
  color: #000;
}

.about__logo-image {
  width: 148px;
  min-height: 114px;
 
  object-fit: fill;
  object-position: 50% 50%;
}

.about__title {
  display: flex;
  font: normal 700 40px/1.2 Raleway, sans-serif;
  text-transform: uppercase;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 28px;
  font: normal 400 20px/1.15 Raleway, sans-serif;
}

footer {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  max-height: 100%;
  text-decoration-line: none;
  padding: 180px 50px 90px 50px;
  color: #000;
  font: normal 400 18px/1.35 Raleway, sans-serif;
  justify-content: space-between;
}

.footer__social-list {
  display: flex;
  max-width: 240px;
  gap: 48px;
}

.footer__menu {
  justify-self: center;
  text-align: center;
  font-size: 18px;
  font: normal 400 18px/1.20 Raleway, sans-serif;
} 

.footer__menu-list,
.footer__social-list {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__menu-link {
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

